.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.141);
    width: 100%;
    background-color:#f5d906;
    z-index: 1000;
}
.left-section{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 15px;
}
.heading{
    font-size: 40px;
    color: white;
    font-family: serif;
}